<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Question</title>
</head>
<body>
    <div class="container">
        <!-- the title-->
        <h1 class="mb-1"><%= question.title %></h1>
        <div class="text-muted mb-2">
            <%= question.createdAt.toLocaleDateString() %>
        </div>
        <a href="/" class="btn btn-secondary">All Questions</a>
        <a href="/questions/edit/<%= question.id %>" class="btn btn-info">Edit</a>
        <div>
            <%- question.text %>
        </div>
    </div>
</body>
</html>